*{
    margin: 0;
}

body{
    background-color: #221a16;
}

nav{
    height: 100px;
    width:100%;
    float: right;
    background-color: darkred;
}

.nona{
    color: white;
    background-color: darkred;
    text-decoration: none;
    transition: 0.35s;
    margin: 10px;
    line-height: 60px;
}

a{
    color: white;
    background-color: darkred;
    text-decoration: none;
    transition: 0.35s;
    margin: 10px;
    line-height: 60px;
    float: right;
}

.corplogo{
    height: 100px;
    width: 300px;
}

.pagebackground{
    height: 100%;
    width: 100%;
}

.footer{
    background-color: darkred;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'eurostile-extended-bold', sans-serif;
    font-size: x-large;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    border: 5px solid white;

}

@font-face {
    font-family: 'eurostile-extended-bold', sans-serif;
    src: url(https://www.dafontfree.net/embed/ZXVyb3N0aWxlLWV4dGVuZGVkLWJvbGQmZGF0YS8yNC9lLzEyMzg1OS9FdXJvc3RpbGVFeHRlbmRlZEJsYWNrLnR0Zg);
    font-weight: bold;
}

.sec1{
    width: 75%;
    height: 450px;
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-family: 'eurostile-extended-bold', sans-serif;
    font-size: xxx-large;
    background-color: darkred;
    border: 5px solid white;
    padding: 50px 0;
    margin: 250px;
    -webkit-text-stroke: 2px black;
    margin-top: -50px;
}
.sec2{
    display:flex;

}

.imagesec{
    width: 750px;
    height: 500px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: darkred;
    margin-bottom: 100px;
    border: 5px solid white;

}
.vaccine{
    width: 100%;
    height: 100%;
    display: flex;
}

.textsec{
    background-color: darkred;
    border: 5px solid white;
    width: 750px;
    height: 500px;
    font-family: 'eurostile-extended-bold', sans-serif;
}

.textsech1{
    margin-bottom: 10px;
    font-size: xx-large;
    -webkit-text-stroke: 2px black;

}

.textsecp{
    margin-bottom: 20px;
    font-size: x-large;
    -webkit-text-stroke: .5px black;

}



